.clients-list {
    display: flex;

    &__item:not(:last-child) {
            margin-right: 30px;
        }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 170px;
        height: 92px;

        border-radius: 4px;
        border: 1px solid #afb1b8;

        transition: border-color 250ms var(--taiming-function);
    }

    &__icon {
        fill: #afb1b8;

        transition: fill 250ms var(--taiming-function);
    }

    &__logo:hover,
    &__logo:focus {
        border-color: var(--accent-color);
    }

    &__logo:hover &__icon,
    &__logo:focus &__icon {
        fill: var(--accent-color);
    }
}





